.navbar-brand{
    margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

}
.img-fluid{
    size: 100%;
}
.container-fluid{
    margin: 0 auto;
    padding: 0;
    margin: 0;
}

.misH1{
    text-align: center;
    color: red;
    font-size: 2rem;
}


article img{
    width: 100%;
    opacity: 1;
}

.img-box img:hover{
    opacity: 0.8;
}
p{
    text-align: justify;
}


.descuento{
    right: 15px;
    top: 20px;
    position: absolute;
    width: 20%;
}

body{
    background-color: #20063b;
}
h2{
    color: white;
}
h4{
    color: white;
}
p{
    color: white;
}
.lead{
    color: black;
}
label{
    color: white;
}
section{
    color: #20063b;
}
h4.carritoh4{
color: black;
font-weight: bold;
    
    
    
}
p.precio{
    color: #000000;
    line-height: 4px;
    font-weight: bold;
        
       
}
div.compras{
    padding: 15px;
       
        
}
span.precioEnDescuento{
     font-size: x-large;
    line-height: 8px;
    font-weight: bold;
        
}
img.carrito{
       
    width: 500px;
    height: 500px;
    display: block;
  margin-left: auto;
  margin-right: auto;
}
strike.precio{
    font-weight: bold;
    font-size: initial;
        
}
    
    
    
a.botonera{
    float: right;
}
    
    
    
#listado  {
    color:black;
    size: 16px;}
    
#carousel h4{color: black;}
#carousel span{color: black;}
#carousel p{color: black;}
#carritoCompra p{text-align: center;}
.carouselproductos{
    width: 40vh;
    margin: auto;
}
.item-price{
    font-size: 15px;
}
marquee{
    color: white;
    font-size: 40px;
}
.thumb-content h4{
    font-size: 20px;
}
.col-md-12 h2{
    font-size:25px ;
}
#nose article h1{
    font-size: 35px;
}
#carrito{
    margin-top: 15px;
}
#carrito p{
    color: black;
}
#terminos{
    color: black;
}
main{
    min-height: calc(100vh - 40px);
}
@media(min-width: 1024px){
    .carouselproductos{
        width: 150vh;
        
    }

    .item-price{
        font-size: 25px;
    }
    .thumb-content h4{
        font-size: 30px;
    }
    .col-md-12 h2{
        font-size:40px ;
    }

    #form div input{
        display: block;
    }
    #form div{
        margin-top: 30px;
        margin-bottom: 30px;
    }
}
