<!doctype html>
<html lang="es">
  <%- include('../partials/head') %>
  <body>
    <main class="container-fluid">
      <%- include('../partials/navbar') %>
    <!--Carousel-->
      <div id="carouselExampleIndicators" class="carousel slide d-none  d-lg-block " data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="img/banner1.jpg" class="d-block w-100" alt="Banners">
          </div>
          <div class="carousel-item">
            <img src="img/banner3.jpg" class="d-block w-100" alt="Banners">
          </div>
          <div class="carousel-item">
            <img src="img/banner4.jpg" class="d-block w-100" alt="Banners">
          </div>

        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Anterior</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Siguiente</span>
        </a>
      </div>
      <!--Listado de nuestros productos-->
    <section class="carouselproductos">
      <div class="container">
        <div class="row">
          <div class="col-md-12 ">
            <h2>Las computadoras <b>mas</b> vendidas</h2>
            <div id="myCarousel" class="carousel slide " data-ride="carousel" data-interval="0">
            <!-- Wrapper for carousel items -->
            <div class="carousel-inner " id="carouselitems">
              <div class="carousel-item active">
                <div class="row">
                  <div class="col-sm-3">
                    <a href="/producto">
                    <div class="thumb-wrapper">
                      <div class="img-box" >
                        <img src="img/compu1.png" class="img-fluid" alt="">
                      </div>
                      <div class="thumb-content">
                        <h4>Striker</h4>
                        <p class="item-price"><span>$200.000</span></p>
                      </div>						
                    </div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                  <div class="col-sm-3">
                    <a href="/producto">
                    <div class="thumb-wrapper">
                      <div class="img-box">
                        <img src="img/compu2.jpg" class="img-fluid" alt="">
                      </div>
                      <div class="thumb-content">
                        <h4>Chronos</h4>
                        <p class="item-price"><span>$80.000</span></p>
                      </div>						
                    </div>
                    </a>
                  </div>
                </div>
              </div>	
              <div class="carousel-item">
                <div class="row">	
                  <div class="col-sm-3">
                    <a href="/producto">
                    <div class="thumb-wrapper">
                      <div class="img-box">
                        <img src="img/compu3.png" class="img-fluid" alt="">
                      </div>
                      <div class="thumb-content">
                        <h4>Neuron</h4>
                        <p class="item-price"><strike>$90.000</strike> <span>$79.999</span></p>
                      </div>						
                    </div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">								
                  <div class="col-sm-3">
                    <a href="/producto">
                    <div class="thumb-wrapper">
                      <div class="img-box">
                        <img src="img/compu4.png" class="img-fluid" alt="">
                      </div>
                      <div class="thumb-content">
                        <h4>Millennium</h4>
                        <p class="item-price"><span>$75.000</span></p>
                      </div>						
                    </div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                  <div class="col-sm-3">
                    <a href="/producto">
                    <div class="thumb-wrapper">
                      <div class="img-box">
                        <img src="img/compu5.png" class="img-fluid" alt="">
                      </div>
                      <div class="thumb-content">
                        <h4>Genesis</h4>
                        <p class="item-price"><span>$125.000</span></p>
                      </div>						
                    </div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                  <div class="col-sm-3">
                    <a href="/producto">
                    <div class="thumb-wrapper">
                      <div class="img-box">
                        <img src="img/compu6.png" class="img-fluid" alt="">
                      </div>
                      <div class="thumb-content">
                        <h4>Aventum</h4>
                        <p class="item-price"><span>$90.000</span></p>
                      </div>						
                    </div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                  <div class="col-sm-3">
                    <a href="/producto">
                    <div class="thumb-wrapper">
                      <div class="img-box">
                        <img src="img/compu7.png" class="img-fluid" alt="">
                      </div>
                      <div class="thumb-content">
                        <h4>Velox</h4>
                        <p class="item-price"><span>$65.000</span></p>
                      </div>						
                    </div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                  <div class="col-sm-3">
                    <a href="/producto">
                    <div class="thumb-wrapper">
                      <div class="img-box">
                        <img src="img/compu8.png" class="img-fluid" alt="">
                      </div>
                      <div class="thumb-content">
                        <h4>Bolt</h4>
                        <p class="item-price"><strike>$100.000</strike> <span>$87.999</span></p>
                      </div>						
                    </div>
                    </a>
                  </div>						
                </div>
              </div>
              
              </div>
            </div>
            <!-- Carousel controls -->
            <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
              <i class="fa fa-angle-left"></i>
            </a>
            <a class="carousel-control-next" href="#myCarousel" data-slide="next">
              <i class="fa fa-angle-right"></i>
            </a>
          </div>
          </div>
        </div>
          </div>
    </section>
      <section class="row pt-3" id="nose">
        <article class="col-12 col-md-6 jumbotron jumbotron-fluid">
          <img  src="img/vermas.jpg" class=" d-block w-100" alt="Los mejores diseño para ti">
      </article>
        <article class="col-12 col-md-6 jumbotron jumbotron-fluid  pt-5 p-4">
            <h1 class="display-4">Gaming de otra galaxia</h1>
            <p class="lead">Con la nueva Rtx 2080 ti vas a poder jugar cualquier juego que exista y este por venir.</p>
            <hr class="my-4">
            <a class="btn btn-success btn-lg" href="#" role="button">Ver mas</a>
        </article>
      </section>
    </main>
    <%- include('../partials/footer') %>
  </body>

    <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>  
  </html>